@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #123;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #789;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 250px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Comic Neue', cursive;
    font-size: 1.2em;
    border: #000 solid 5px;
    box-shadow: inset 0 0 15px #000;
}

.avatar p {
    border: #000 solid 5px;
    text-align: center;
    margin-top: 3px;
    background: rgb(53, 56, 53);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

.avatar img {
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: #000 solid 5px;
    background: rgb(53, 56, 53);
    width: 100%;
    height: 100%;
    border-radius: 150px;
    box-shadow: 0 0 15px #000;
}

.bg{
    background: #456;
    display: block;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
    padding-bottom: 40px;
}

.container-2{
    display: grid;
    border-radius: 10px;
    animation: transitionIn 2s;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: rgb(53, 56, 53);
    color: black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: inset 0 0 15px #000;
    font-family: 'Comic Neue', cursive;
    font-size: 1.3em;
    font-style: bold;
    font-weight: 700;
    border: #000 solid 3px; 
}

.card{
    text-align: center;
    background: #456;
    color: lightblue;
    width: 90%;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2em;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: #000 solid 2px;
    box-shadow: 0 0 15px #000;
}

.navigation
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -2.2%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.navigation ul
{
    display: flex;
    padding-right: 25px;
}

.navigation ul li
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
    list-style: none;
    width: 70px;
    height: 70px;
    margin-bottom: 1%;
}

.navigation ul li a
{
    border-radius: 50px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a:hover
{
    background: #789;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li:hover a .icon
{
    color: black;
    transform: translateY(12px);
}

.navigation ul li a .text
{
    border-radius: 50px;
    position: absolute;
    color: var(--clr);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.02em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-10px);
}

.navigation ul li:hover a .text
{
    color: black;
    opacity: 1;
    transform: translateY(-12px);
}

.footer
{
    background: #111;
    height: auto;
    width: auto;
    font-family: "Open Sans";
    margin-top: 40px;
    color: #fff;
}

.footer-content
{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3
{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p
{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials
{
    padding-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.socials li
{
    margin: 0 10px;
    width: 100%;
}

.socials a
{
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.socials a:hover
{
    color: lightblue;
}

.socials a i
{
    transition: color 0.4s ease;
}

.footer-bottom
{
    background: #000;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p
{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.boxbg
{
    margin: 50px auto;
    width: auto;
}

.row {
    font-weight: 400;
    display: flex;
}
  
.row div {
    width: 50%;
}
  
.noMargin {
    margin: 0px;
}
  
.one {
    border-radius: 25px;
    padding: 10px;
    background: #456;
    color: lightblue;
    text-align: center;
    border-radius: 25px 0 0 0;
    border-right: #000 solid 3px;
    border-bottom: #000 solid 3px;
}
  
.two {
    border-radius: 25px;
    padding: 10px;
    background: #456;
    color: lightblue;
    text-align: center;
    border-radius: 0 25px 0 0;
    border-left: #000 solid 3px;
    border-bottom: #000 solid 3px;
}
  
.three {
    border-radius: 25px;
    padding: 10px;
    background: #456;
    color: lightblue;
    text-align: center;
    border-radius: 0 0 0 25px;
    border-right: #000 solid 3px;
    border-top: #000 solid 3px;
}
  
.four {
    border-radius: 25px;
    padding: 10px;
    background: #456;
    color: lightblue;
    text-align: center;
    border-radius: 0 0 25px 0;
    border-left: #000 solid 3px;
    border-top: #000 solid 3px;
}