{% extends './plantilla.html' %}

{% block title %} Home {% endblock %}
    
{% block body %}

    <div class="card">
        <p>Hola, actualmente solo dispongo de 2 metodos de contacto, mi servidor de discord y los mensajes de Twitter, si deseas solicitar alguno de mis servicios porfavor considera usar uno de estos medios para ponerte en contacto conmigo.</p>
        <br>
        <a type="button" class="btn btn-outline-primary" href="https://discord.gg/dKB5cT5T2f" target="_blank" role="button" style="color: lightblue; border: lightblue 3px solid;">Join Discord Server</a>
        <br>
        <a type="button" class="btn btn-outline-primary" href="https://twitter.com/SirMillionD/" target="_blank" role="button" style="color: lightblue; border: lightblue 3px solid;">Meet me on Twitter</a>
    </div>

{% endblock %}