{% extends './plantilla.html' %}

{% block title %} Home {% endblock %}
    
{% block body %}

<div class="boxbg">
    <div class="row noMargin">
        <div class="one">
            Diseño y desarrollo de páginas web
            <hr class="my-4">
            Creo sitios web como este o similares a petición del cliente, llevando una retroalimentacion activa para poder hacer modificaciones inmediatas en caso de ser necesarias o solicitadas.
            <hr class="my-4">
            Price:
        </div>
        <div class="two">
            Desarrollo de bots de Discord
            <hr class="my-4">
            Tengo mi propio bot de Discord llamado <a href="https://ghco.weebly.com/" target="_blank" style="color: #fff;">GHCO</a> y puedo decir con orgullo que trabajar en ese bot me ha hecho adquirir la experiencia suficiente como para poder hacer bots para otras personas.
            <hr class="my-4">
            Price:
        </div>
    </div>
    <div class="row noMargin">
        <div class="three">
            Configuración de servidores de VideoJuegos
            <hr class="my-4">
            Actualmente no puedo configurar mas que servidores de Minecraft, pero en un futuro planeo añadir otros juegos a este servicio, ademas, si configuro un servidor de algun juego lo configuro del mejor modo posible.
            <hr class="my-4">
            Price:
        </div>
        <div class="four">
            Y mas . . .
            <hr class="my-4">
            Aun no esta claro que tipo de servicios te puedo ofrecer, pero espero que pueda hacer algo que resulte de tu interes.
            <hr class="my-4">
            <p style="font-weight: 900; letter-spacing: 5px;">Coming soon</p>
        </div>
    </div>
</div>

{% endblock %}